{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>Flask Boilerplate</h1>
      This is my personal Flask-Boilerplate. It comes with support for
      Bootstrap, WTF and SQLAlchemy. The purpose is to minimize the effort
      to set up a new Website with Flask.
      <h2>Features</h2>
      <ul>
        <li>Blueprint integration</li>
        <li>Bootstrap integration</li>
        <li>SQLAlchemy integration</li>
        <li>Docker ready</li>
        <li>different configuration options for production and development</li>
      </ul>
      <h2>Module</h2>
      <ul>
        <li>Flask</li>
        <li>Flask-Bootstrap</li>
        <li>Flask-Migrate</li>
        <li>Flask-Script</li>
        <li>Flask-SQLAlchemy</li>
        <li>Flask-WTF</li>
        <li>gunicorn</li>
        <li>Jinja2</li>
        <li>SQLAlchemy</li>
        <li>WTForms</li>
      </ul>
      <h2>Static files served via nginx</h2>
      <img src="{{ url_for('static', filename='tardis.jpg') }}">
    </div>
  </div>
</div>
{% endblock %}
